@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #151515;
  box-sizing: border-box;
  font-family: "Sora";
}